*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: 'Quicksand', sans-serif;
}
html,body{
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #FAFAFA;
}
/* ---------------------------loader--------------------------- */
.loader{
    position: fixed;
    background-color: #f3f7fb;
    z-index:3;
    height: 100%;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.jimu-primary-loading:before,
.jimu-primary-loading:after{
    position: absolute;
    top: 0;
    content: '';
}
  
.jimu-primary-loading:before{
    left: -19.992px;
}
  
.jimu-primary-loading:after{
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}
  
.jimu-primary-loading:before,
.jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }
  
  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  
@-webkit-keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }
  
  @keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }

/* ---------------------------------NAV BAR------------------------------------------ */
.logo{
    width: 207px;
    height: 82px;
    margin-left: 20px;
    filter: contrast(1.3);
}
.logo img{
    width:inherit;
    height: inherit;
}

.nav-phone-link{
    display: none;
    transition: all 0.2s ease;
}
.nav-bar-section{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    background-color: transparent;
    position:fixed;
    top: 0;
    left:0;
    margin: auto;
    width: 100%;
    z-index:2;
    transition: all 0.2s ease;
}
.navbar-scroll{
    background-color: rgb(179 222 245 / 65%);
    backdrop-filter: blur(10px);
}
.navbar-scroll a {
    color: #052632;
}
nav{
    flex: 1;
    text-align: right;
    z-index:1;
}
.nav-link{
    width: 100%;
    margin-left: 20vw;
    align-items: flex-end;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: rgb(175 220 252);
    font-size: 20px;
    font-weight: 400;
}
.nav-bar-section ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: rgb(2,163,244);
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-bar-section ul li:hover::after{
    width: 100%;
    background-color: rgb(7, 169, 251);
    cursor: pointer;
}

.nav-bar-section ul li a:active{
   color: black;
}
.material-symbols-outlined{
    display: none;
}
#contact-us{
    border: 2px solid rgb(2,163,244);
    border-radius: 15px;
    padding: 10px 10px;
    transition: 0.5s ease;
}
#contact-us:hover{
    background:rgb(2,163,244);
    color:white;
}
.service-links {
    display:none;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-around;
    background-color: rgb(150 180 196 / 55%);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    margin: auto;
    width: 20vw;
    transition: all 1.7s;
}
.service-links a{
    padding: 3px;
    padding-left: 10px;
    mask-origin: padding-box;
    color:#052632;
    text-align: left;
}
.service-links a:hover{
    background-color: #72828b;
    color: #f3f7fb;
    transition: all 0.2s;
}
.drop-down{
    position: relative;
    display: inline-block;
}
.dropdown-scroll{
    box-shadow: 2px 1px 7px black;
}
.ourservices{
    cursor: pointer;
    display:block;
}
.drop-down:hover .service-links{
    display: flex;
    transition: all 0.2s;
}
/* --------------------------HOME PAGE------------------------ */
.slide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container{
    background-color: rgb(236 248 255 / 11%);
    backdrop-filter: blur(12px);
    width: 58%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0.2px 5px #a5a5a5c9;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn-container{
    display: inline;
}
.btn-container a{
    border: 2px solid rgb(2 163 244);
    border-radius: 5px;
    padding: 10px 9px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    transition: 0.5s;
    color: #afdcfc;
    /* background-color: #6d7276; */
}
.btn-container a:hover{
    background: rgb(17 142 199);
    color:white;
}
.btn-container details summary{
    border: 2px solid rgb(2 163 244);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    position: relative;
    text-align: center;
    transition: 0.5s;
    color: #afdcfc;
}
.slide h1{
    font-family: 'Abril Fatface';
    letter-spacing:2px;
    font-size: 70px;
    font-weight: 100;
    color: rgb(175,220,252);
    text-align:center;
    word-spacing: -5px;
    margin: 10px 0px;
}
.slide p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #D5ECFC;
    padding-bottom: 21px;
    position: relative;
    text-align: center;
    margin: 5px;
    z-index: 2;
}
#global-forwading{
    background-image: linear-gradient(rgb(0 0 0 / 40%),rgb(0 0 0 / 51%)),url(/sedo_main/sedo_app/static/img/Global\ Forwading.jpg);
    background-size: cover;
    background-position: center;
}
#cargo-insurance{
    background-image: linear-gradient(rgb(0 0 0 / 40%),rgb(0 0 0 / 51%)),url(/sedo_main/sedo_app/static/img/cargo\ insuarance.jpg);
    background-size: cover;
    background-position: center;
}
#warehousing{
    background-image: linear-gradient(rgb(0 0 0 / 40%),rgb(0 0 0 / 51%)),url(/sedo_main/sedo_app/static/img/safe\ warehousing.jpg);
    background-size: cover;
    background-position: center;
}
#customs{
    background-image: linear-gradient(rgb(0 0 0 / 40%),rgb(0 0 0 / 51%)),url(/sedo_main/sedo_app/static/img/customs\ clearance.jpg);
    background-size: cover;
    background-position: center;
}
/* ----------------------------about-us-section------------------------------ */

.about-us-container{
    /* min-height: 100vh; */
    width:80%;
    border-top: 2px solid rgb(19 137 193);
    border-bottom: 2px solid rgb(21 131 186);
    position: relative;
    top:40px;
    margin:auto;
    padding-bottom: 80px;
}

.about-us-container h1{
    font-family: 'Kadwa', serif;
    font-size:48px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
    background: #313A61;
    background: linear-gradient(to right, #313A61 0%, #00BCFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #7a8eef; */
}
.about-us-container p{
    font-size:20px;
    text-align: justify;
    color: rgb(3, 90, 134);
    padding: 0px 20px;
    padding-bottom: 20px;
}
.about-us-container  #learn-more-btt{
    border: 2px solid rgb(17 142 199);
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    top: 40px;
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    transition: 0.5s;
    color: rgb(17 142 199);
}
.about-us-container  #learn-more-btt:hover{
    background: rgb(17 142 199);
    color:white;
}
.about-us-container img {
    width: 37%;
    height: 70%;
}
.about-us-wrapper{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-us-content{
    background-color: rgb(205 251 255 / 6%);
    margin-right: 10vw;
    position: relative;
    border: 1.5px solid rgb(17 142 199);
    border-radius: 10px;
    transition: all 0.2s;
}
.about-us-content:hover{
    box-shadow: -20px -17px 1px 0px rgb(17 142 199),1px 1px 2px;
}

.mission-wrapper{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    /* height: 50vh; */
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.mission-content{
    background-color: rgb(205 251 255 / 6%);
    margin: 50px 20px;
    position: relative;
    border: 1.5px solid rgb(17 142 199);
    border-radius: 10px;
    transition: all 0.2s;
}
.mission-content:hover{
    box-shadow: 1px 1px 2px, -20px -17px 1px 0px rgb(17 142 199);
}
.vision-wrapper{
    width: 100%;
    margin: 50px 0px;
    /* height: 50vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.vision-content{
    background-color: rgb(205 251 255 / 6%);
    margin: 50px 20px;
    position: relative;
    border: 1.5px solid rgb(17 142 199);
    border-radius: 10px;
    transition: all 0.2s;
}
.vision-content:hover{
    box-shadow: -20px -17px 1px 0px rgb(17 142 199),1px 1px 2px;
}
.vision-wrapper h1{
    /* color: #d9dffb; */
    margin-top: 20px;
}
.mission-wrapper h1{
    /* color: #d9dffb; */
    margin-top: 20px;
}
/* ------------------------------------------our-services-section------------------------------------- */
.our-services-container{
    min-height: 122vh;
    position: relative;
    top: 40px;
    padding-bottom:100px;
}
.our-services-container h1 {
    font-family: 'Kadwa', serif;
    font-size:48px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
    color:black;
    position: relative;
    top:33px;
}
.service-cards-wrapper{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.service-card{
    width:25%;
    height: 58vh;
    margin-top:30px;
    box-shadow: 0px 0px 5px rgb(52, 52, 52),0px 0px 5px rgb(52, 52, 52);
}

.service-card h2{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
}
.service-card-mask{
    width:initial;
    height: inherit;
    opacity:0;
    transition:0.5s ease;
}
.service-card-mask a {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    top: 55%;
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    transition: 0.5s;
    color:white;
}
.service-card-mask a:hover{
    background:rgb(255, 255, 255);
    color:black;
}
.service-card-mask:hover{
    opacity:1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.632),rgba(0, 0, 0, 0.212));
}

.service-card img{
    width:100px;
    height: 100px;
    margin: auto;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


#air-freight{
    background-image: linear-gradient(rgba(0, 0, 0, 0.272),rgba(0, 0, 0, 0)),url(/sedo_main/sedo_app/static/img/air\ freight\ bg.jpg);
    background-position: 100%;
    background-size: cover;
}
#road-freight{
    background-image: linear-gradient(rgba(0, 0, 0, 0.272),rgba(0, 0, 0, 0)),url(/sedo_main/sedo_app/static/img/road_freight\ bg.jpg);
    background-position: 100%;
    background-size: cover;
}
#rail-freight{
    background-image: linear-gradient(rgba(0, 0, 0, 0.272),rgba(0, 0, 0, 0)),url(/sedo_main/sedo_app/static/img/rail\ bg.jpg);
    background-position: 100%;
    background-size: cover;
}
#see-more{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    top: 40px;
    display: block;
    margin: auto;
    position: relative;
    width: fit-content;
    transition: 0.5s;
    color:rgb(0, 0, 0);
}
#see-more:hover{
    background:rgb(0, 0, 0);
    color:white
}
/* ------------------------------------------footer-section------------------------------------- */
.footer-container{
    display: flex;
    width: 100%;
    /* height: 60vh; */
    background-color: rgb(226,241,254);
    background-image: url(/sedo_main/sedo_app/static/img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 13vh;
    justify-content: center;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.useful-link-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}
.useful-link-wrapper h2{
    color: rgb(11,160,224);
    margin:10px 0px;
    text-align: left;
}
.useful-link-wrapper ul{
    list-style-type: none;
    margin: 13px;
}
.useful-link-wrapper ul li a{
    text-decoration: none;
    color:black;
    text-align: left;
    display: block;
    font-weight: 100;
}
.useful-link-wrapper a:hover{
    color: rgb(11,160,224);
}
.contact-details-wrapper{
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
    justify-content: left;
    position: relative;
}
.contact-details-wrapper p{
    padding-left: 15px;
    color: rgb(1, 45, 64);
    position: relative;
    display: block;
    /* left:10%; */
    /* bottom: 13%; */
    /* margin-top: 10px; */
}
.contact-details-wrapper h2{
    color: rgb(11,160,224);
    margin:15px 0px;
    display: block;
    text-align: left;
}
.contact-details-wrapper img{
    width: 25px;
    height: 25px;
    /* filter: invert(100%); */
}

.footer-container #copyright-footer{
    color: rgb(1 11 15);
    position: relative;
    margin: 10px;
}
.contact-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}
.center-logo{
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.center-logo img {
    width: calc(100% - 46%);
    margin: 20px;
}
#copyright-footer{
    position: absolute;
}
/* ################################################# OUR SERVICES PAGE############################################## */

.service-container{
    min-height:100vh;
    width: 100%;

}
.service-container h3 {
    color:rgb(25 143 226);
}
#our-service-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.395),rgba(0, 0, 0, 0.55)),  url(/sedo_main/sedo_app/static/img/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:0;
    height: 75vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:0;
    height: 75vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-wrapper h1{
    font-family: 'Kadwa', serif;
    font-size:48px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
    color: #AFDCFC;
}
.title-wrapper p{
    font-size:20px;
    text-align: justify;
    color: white;
    padding: 0px 30px; 
}
.ourservices-links{
    display:inline-block;
    position:-webkit-sticky;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 0px;
    background-color: rgb(132 156 167);
    backdrop-filter: blur(10px);
    width:100%;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.594);
    z-index: 1;
}

.ourservices-links li{
    position: sticky;
    padding: 12px 10px;
    text-decoration: none;
    display: inline-block;
    
}
.ourservices-links li a{
    font-size: 14px;
}
.ourservices-links a:hover{
    color: orangered;
}
.serviceLink{
    border: 2px solid rgb(17 142 199);
    border-radius: 15px;
    padding: 12px 10px;
    margin: 0px;
    position: relative;
    top: 15px;
    left:45%;
    transition: 0.2s;
    color: rgb(17 142 199);
}
.serviceLink:hover{
    background-color: rgb(17 142 199);
    color: white;
}
/* ---------------------------------------------air freight section------------------------------------------- */
.air-freight-section{
    background-color: #F1F8FF;
    padding-bottom: 40px;
    width:100%;
    margin:auto;
}
#plane-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.air-freight-section h1{
    margin:20px;
    position:relative;
    left:12%;
    bottom:40px;
    color: rgb(25 143 226);
}
hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:40px;
}
.air-freight-section p{
    position: relative;
    margin:15px 50px;
    line-height:23px;
    text-align: justify;
}

.air-freight-section h3{
    margin:0px 50px;
    color: rgb(25 143 226);
}
.air-freight-section ul{
    list-style-type: disc;
    margin:0px 130px;
}
.air-freight-section ul li{
    padding:5px;
}
/* -------------------------------sea freight section--------------------------------------------------- */
.sea-freight-section {
    margin-top: 0px;
    padding-bottom: 50px;
}
#sea-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.sea-freight-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.sea-freight-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.sea-freight-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
}
.sea-freight-section h3{
    margin:0px 50px;
}
.sea-freight-section ul{
    list-style-type: disc;
    margin:0px 130px;

}
.sea-freight-section ul li{
    padding:5px;
}
/* -------------------------------rail freight section--------------------------------------------------- */
.rail-freight-section {
    margin-top: 0px;
    background-color: #F1F8FF;
    padding-bottom: 50px;
}
#rail-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.rail-freight-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.rail-freight-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.rail-freight-section p{
    position: relative;
    padding-top: 25px;
    margin:15px 50px;
    line-height:23px;
    text-align: justify;
}
.rail-freight-section h3{
    margin:0px 50px;
}
.rail-freight-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.rail-freight-section ul li{
    padding:5px;
}
/* -------------------------------road freight section--------------------------------------------------- */
.road-freight-section {
    margin-top: 0px;
    padding-bottom: 50px;
}
#road-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.road-freight-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.road-freight-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.road-freight-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.road-freight-section h3{
    margin:0px 50px;
}
.road-freight-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.rail-freight-section ul li{
    padding:5px;
}
/* -------------------------------Customs clearance section--------------------------------------------------- */
.customs-clearance-section {
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: #F1F8FF;
}
#customs-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.customs-clearance-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.customs-clearance-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.customs-clearance-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.customs-clearance-section h3{
    margin:0px 50px;
}
.customs-clearance-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.customs-clearance-section ul li{
    padding:5px;
}
/* -------------------------------warehouse management section--------------------------------------------------- */
.warehouse-management-section {
    margin-top: 0px;
    padding-bottom: 50px;
}
#warehouse-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: hue-rotate(177deg);
    /* filter: contrast(1); */
}
.warehouse-management-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.warehouse-management-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.warehouse-management-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.warehouse-management-section h3{
    margin:0px 50px;
}
.warehouse-management-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.warehouse-management-section ul li{
    padding:5px;
}
/* -------------------------------project logistics section--------------------------------------------------- */
.project-logistics-section {
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: #F1F8FF;
}
#project-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.project-logistics-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.project-logistics-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.project-logistics-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.project-logistics-section h3{
    margin:0px 50px;
}
.project-logistics-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.project-logistics-section ul li{
    padding:5px;
}
/* -------------------------------cargo-insuarance section--------------------------------------------------- */
.cargo-insurance-section {
    margin-top: 0px;
    padding-bottom: 50px;
}
#cargo-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.cargo-insurance-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.cargo-insurance-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.cargo-insurance-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.cargo-insurance-section h3{
    margin:0px 50px;
}
.cargo-insurance-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.cargo-insurance-section ul li{
    padding:5px;
}
/* -------------------------------removal-relocation-section--------------------------------------------------- */
.removal-relocation-section {
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: #F1F8FF;
}
#house-logo{
    width:100px;
    height:100px;
    position:relative;
    top:100px;
    margin: 10px 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.removal-relocation-section h1{
    margin:20px;
    position:relative;
    left:12%;
    color: rgb(25 143 226);
}
.removal-relocation-section hr{
    width:83%;
    margin: auto;
    position: relative;
    left:5%;
    bottom:1px;
}
.removal-relocation-section p{
    position: relative;
    margin:20px 50px;
    padding-top: 25px;
    line-height:23px;
    text-align: justify;
    margin-top: 14px;
}
.removal-relocation-section h3{
    margin:0px 50px;
}
.removal-relocation-section ul{
    list-style-type:disc;
    margin:0px 130px;
}
.removal-relocation-section ul li{
    padding:5px;
}
/* ############################################################# About us page ######################################################### */
.about-container{
    width: 100%;

}
#about-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/pexels-pixabay-355948.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    height: 79vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-page-content{
    width: 95%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content:center;
    justify-content: space-around;
    flex-wrap: wrap;
    height:inherit;
    margin-top: 20px;
}
/* ------------------------------all container---------------------------------------- */
.container{
    padding: 4px 20px;
    margin: 35px 0px;
}

.container h1{
    font-family: 'Kadwa', serif;
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
    color:rgb(25 143 226);
    border: 1.5px solid white;
    border-radius: 0px;
    border: 1px solid;
    background-color: transparent;
    background: #313A61;
    background: linear-gradient(to right, #005579b8 0%, #00BCFF 100%);
    /* background-image: linear-gradient(168deg,#a380f221,#80f2a329); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -5px -5px 0px #005579b8;
}
.container p {
    color: #354b58;
    border: 1px solid white;
    background-image: linear-gradient(168deg,#a380f221,#80f2a329);
    text-align: justify;
    padding:20px;
    padding-bottom:20px;
    margin: 20px 0px;
    border: 0.1px solid #06b8f7;
    box-shadow: 1px 1px 3px 0px;
}
/* ----------------------------------------------about sedo----------------------------------------- */
#about-us-sedo-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
    background-color: #F0F9FF;
    align-items: flex-start;
}
#about-us-sedo-container p {
}
.container #old-ship{
    width: 37%;
    margin: 0px 0px 0px 72px;
    position: relative;
    box-shadow: 0px 0px 5px rgb(52, 52, 52),0px 0px 5px rgb(52, 52, 52);
}
/* ----------------------------------------------why sedo----------------------------------------- */
#why-sedo-container{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    /* left: 29%; */
}

.container #night-ship{
    width: 37%;
    box-shadow: 0px 0px 5px rgb(52, 52, 52),0px 0px 5px rgb(52, 52, 52);
    margin: 0px 72px 0px 0px;
}
#mision-vision-conatainer{
    position: relative;
    width: 85%;
    height: 50%;
    display: flex;
    margin: 35px 0px;
    flex-direction:row;
    justify-content: space-around;
    align-items: baseline;
    bottom: 0%;
    background-color: #F0F9FF;
}
.mision-container{
    position: relative;
    /* right:2%; */
    /* width:70%; */
    margin: 20px;
}
.vision-container{
    position: relative;
    /* left:2%; */
    /* width: 28%; */
    margin: 20px;
}
#market-position-section{
    position: relative;
    top: 0;
    width: 70%;
    bottom: 0;
}
/* ############################################################# contact us page ######################################################### */
#contact-us-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/contact-us-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    height: 79vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-wrapper{
    width: 100%;
    background-color: rgb(240, 71, 71);
}
.error-wrapper li {
    padding: 20px 0px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.messages-container{
    width: 100%;
    background-color: rgb(71, 240, 102);
}
.success-message{
    padding: 20px 0px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.contact-us-title-wrapper h1 {
    font-family: 'Kadwa', serif;
    font-size:48px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
    color: #d9dffb;
}
#contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-evenly;
    align-content: flex-start;
}
.contact-ill-wrapper{
    width: 54%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#contact-container img {
    width: 41%;
}
#contact-container h1 {
    font-family: 'Kadwa', serif;
    font-size:48px;
    font-weight: 100;
    padding-bottom: 0px;
    position: relative;
    /* top: 130px; */
    margin: 0px 0px;
    text-align: center;
    background: #313A61;
    background: linear-gradient(to right, #414d81 0%, #00BCFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maps{
    position: relative;
    border: 1px solid #005579;
    padding: 10px;
}
.contact-inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    align-content: center;
    flex-direction: row;
}
.contact-form{
    position: relative;
    top:50vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    
}
.checkbox-inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85%;
}
/* ----------------------------------contact form----------------------------------- */
.group {
    position: relative;
    margin: 15px;
   }
   
.input {
    font-size: 16px;
    padding: 20px 10px 10px 5px;
    display: block;
    width: 100;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
   
.input:focus {
    outline: none;
    border-bottom: 2px solid #406A80;
}
   
.group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
    top:0px;
    font-size: 14px;
    font-weight: bold;
    color: #005579;
}
.input:focus ~.highlight{
    display: none;
}
.highlight{
    color: #b7b7b7;
    position: relative;
    bottom: 20px;
    left: 113px;
}

.checkbox{
    position: relative;
    display: flex;
    left: 10vw;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    align-items: baseline;
}
.checkbox-container{
    background-color: #00557900;
    position: relative;
    border: 1px solid #005579;
    margin: 32px;
    width: 37%;
    padding: 20px;
    padding-bottom: 49px;
}
#labelcheckbox{
    position: relative;
    top: 13px;
}
.input-container{border: 1px solid #005579;width: 34%;margin: 134px 0px 0px 0px;padding: 20px;/* display: flex; */}
.message-box{
    font-size: 16px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #005579;
    background: transparent;
}
.message-box:focus{
    outline: none;
    border-bottom: 2px solid #005579;
}
.message-box:focus ~ label, .message-boxt:valid ~ label {
    top:0px;
    font-size: 14px;
    font-weight: bold;
    color: #5264AE;
    display: none;
}
.submit{
    border: 2px solid rgb(17 142 199);
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 10px;
    position: relative;
    top: 31px;
    display: block;
    margin: auto;
    font-size: 14px;
    transition: 0.2s;
    color: rgb(17 142 199);
}
.submit:hover{
    background-color:rgb(17 142 199);
    color: #ffffff;
}
/* ######################################################## services ############################################ */
.service-wrapper{
    width: 85%;
    background-color: #FAFAFA;
    margin: auto;
    padding:10px;
}
.service-title{display: flex;margin-top: 26px;align-items: center;}
.service-title img{
    width:100px;
    height:100px;
    margin-bottom: 10px;
    position:relative;
    mix-blend-mode: multiply;
    filter: contrast(1);
    filter: hue-rotate(177deg);
}
.service-title h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 34px;
    /* font-weight: 500; */
    position: relative;
    margin-left: 39px;
    color: #0b94ef;
}
.service-content p{
    position: relative;
    line-height: 24px;
    text-align: justify;
    margin-top: 14px;
    color: #1D1D1F;
    font-weight: 100;
}
.service-content h3{
    font-size: 20px;
    font-weight: 500;
    margin-top:14px;
    color: #0b94ef;
}
.service-content ul{
    margin-left: 50px;
    margin-top: 14px;
}
.service-content li{
    margin: 5px;
}
.contact-us-service{
    border: 2px solid rgb(17 142 199);
    border-radius: 15px;
    padding: 10px 10px;
    position: relative;
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    transition: 0.5s;
    color: rgb(17 142 199);
}
.contact-us-service:hover{
    background-color: rgb(17 142 199);
    color: #ffffff;
}
.contact-message-wrapper{
    border: 2px solid rgb(17 142 199);
    border-radius:5px;
    box-shadow: 0.2px 0.2px 5px #96959580, 0.2px 0.2px 5px #96959580;
    width: 70%;
    margin:auto;
    margin-top: 10vh;
    padding:20px;
    margin-bottom: 10vh;
}
.contact-message {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:28px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #222843;
    background: linear-gradient(to right, #242a47 0%, #0178a4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hr{
    top: -18px;
    right: 20px;
}
.why-sedo-wrapper{
    border: 2px solid rgb(17 142 199);
    border-radius:5px;
    box-shadow: 0.2px 0.2px 5px #96959580, 0.2px 0.2px 5px #96959580;
    width: 70%;
    margin:auto;
    margin-top: 10vh;
    padding:20px;
    margin-bottom: 10vh;
}
.why-sedo-wrapper h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:28px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #222843;
    background: linear-gradient(to right, #242a47 0%, #0178a4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.why-sedo-wrapper p{
    position: relative;
    line-height: 24px;
    text-align: justify;
    margin-top: 14px;
    color: #1D1D1F;
    font-weight: 100;
}
/* ##################################################### customs page ########################################## */
#customs-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/customs\ clearance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#air-frieght-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/air\ freight\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#Road-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/road\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#sea-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/sea\ frieght.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#rail-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/rail\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#project-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#warehouse-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/safe\ warehousing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#cargo-title-wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/cargo\ insuarance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#Removal-relocation-service{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.607)),  url(/sedo_main/sedo_app/static/img/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#service-title-p{
    font-size: 16px;
}
/* ################################################################################# mobile reponsivity #################################################### */
@media screen and (min-width: 767px) and (max-height: 1300px) and (max-width:1023px){
    .aos-animate {
        transition-property: none !important;
        transform: none !important;
        animation: none !important;
    }
    /* -----------------------------nav bar--------------------------- */
    .nav-bar-section{
        justify-content: space-between;
    }
    .nav-phone-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    #navLink{
        display: none
    }
    .material-symbols-outlined #close{
        position: relative;
    }
    .nav-phone-link{
        display: none;
        background-color: #3c464aba;
        backdrop-filter: blur(15px) saturate(162%);
        background-color: rgba(61, 76, 105, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.125);
        filter: blur(-9px);
        z-index:2;
        overflow: auto;
        width: 100vw;
        height: 100vh;
        position: fixed;
        transition: all 0.2s ease;
    }
    .phone-title{
        color: #ffffff;
        font-weight: 100;
        margin: 10px;
    }
    .logo-phone{
        width: 23%;
        padding: 15px;
    }
    .nav-phone-link ul {
        text-align: center;
    }
    .nav-phone-link ul li{
        list-style: none;
        padding: 3px;
    }
    .nav-phone-link ul li a {
        border: 2px solid rgb(2,163,244);
        border-radius: 4px;
        padding: 10px 10px;
        width: 22%;
        margin: auto;
        display: block;
        font-size: 14px;
    }
    .material-symbols-outlined{
        display: block;
        padding-right: 17px;
        width: 11%;
        color: white;
    }

    /* ----------------------------------footer section --------------------------------- */
    .center-logo img {
        width: calc(100% - 42%);
    }
    #copyright-footer{
        font-size: 13px;
    }

    .useful-link-wrapper h2{
        font-size: 1.2em;
    }
    .useful-link-wrapper ul li a {
        font-size: 15px;
    }
    .contact-group{
        margin: 11px 0px;
    }
    .contact-details-wrapper{
        width: 30vw;
        margin: 10px;
    }
    .contact-details-wrapper h2{
        font-size: 1.2em;
        margin: 12px 0px;
    }
    .contact-details-wrapper p{
        font-size: 15px;
    }
    .contact-details-wrapper img {
        width: 22px;
    }
    /* --------------------------------home section --------------------------------------- */
    .center-container h1{
        --font-size: 42px;
        font-size: var(--font-size);
    }
    .logo{
        width: 46%;
        height: 10%;
        overscroll-behavior-x: none;
    }
    .sedo{
        font-size: 41px;
    }
    .center-container p {
        font-size: 18px;
    }
    .center-container a{
        font-size: 14px;
        margin: 5px;
    }
    /* -------------------------------about us section --------------------------- */
    .about-us-container{
        width: 90vw;
    }
    .about-us-container h1{
        font-size: 36px;
    }
    .about-us-container p {
        font-size: var(--font-size);
    }
    .about-us-container img{
        width: 39%;
    }
    /* -------------------------------our services section ----------------------------- */
    .our-services-container h1 {
        font-size: 40px;
    }
    .service-card-mask a{
        font-size: 14px;

    }
    .service-card h2{
        font-size: 25px;
    }
    /* -------------------------------------title wrapper---------------------------------- */
    .title-wrapper h1{
        font-size: 40px;
    }
    .title-wrapper p{
        font-size: 14px;
    }

    /* ##########################################about us page################################ */
    .container h1{
        font-size: 30px;
    }
    .container p{
        font-size: 14px;
    }
    .container #old-ship{
        width: 73%;
        margin: auto;
    }
    #about-us-sedo-container{
        flex-direction: column;
    }
    #why-sedo-container{
        flex-direction: column;
    }
    .container #night-ship{
        width: 73%;
        margin: auto;
    }
    #mision-vision-conatainer{
        flex-direction: column;
    }
    /* ########################################### contact-page ############################################### */
    .contact-inputs{
        flex-direction: column;
    }
    #contact-container img {
        margin: 20px;
        position: relative;
        top: 20vh;
    }
    #contact-container h1{
        font-size: 40px;
    }
    .input-container{
        width: 38%;
    }
    .checkbox-inputs{
        flex-direction: column-reverse;
    }
    .checkbox{
        left: 13vw;
    }
    
    .maps{
    }
    /* ############################################### service pages ######################################################################### */
    .service-title img{
        width: 80px;
        height: 80px;
    }
    .service-title h1{
        font-size: 30px;
    }
    .service-content p{
        font-size: 14px;
    }
    .service-content h3{
        font-size: 18px;
    }
    .service-content li {
        font-size: 14px;
    }
}
@media screen and (max-width: 426px) {
    .aos-animate {
        transition-property: none !important;
        transform: none !important;
        animation: none !important;
    }
    /* -----------------------------nav bar--------------------------- */
    .nav-bar-section{
        justify-content: space-between;
    }
    .nav-phone-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    #navLink{
        display: none
    }
    .material-symbols-outlined #close{
        position: relative;
    }
    .nav-phone-link{
        display: none;
        background-color: #3c464aba;
        backdrop-filter: blur(15px) saturate(162%);
        background-color: rgb(61 76 105);
        border: 1px solid rgba(255, 255, 255, 0.125);
        filter: blur(-9px);
        z-index:2;
        overflow: auto;
        width: 100vw;
        height: 100vh;
        position: fixed;
        transition: all 0.2s ease;
    }
    .phone-title{
        color: #ffffff;
        font-weight: 100;
        margin: 10px;
    }
    .logo-phone{
        width: 23%;
        padding: 15px;
    }
    .nav-phone-link ul {
        text-align: center;
    }
    .nav-phone-link ul li{
        list-style: none;
        padding: 3px;
    }
    .nav-phone-link ul li a {
        border: 2px solid rgb(2,163,244);
        border-radius: 4px;
        padding: 10px 10px;
        width: 22%;
        margin: auto;
        display: block;
        font-size: 14px;
    }
    .material-symbols-outlined{
        display: block;
        padding-right: 17px;
        width: 11%;
        color: white;
    }

    /* ----------------------------------footer section --------------------------------- */
    .useful-link-wrapper{
        flex-direction: column;
    }
    .footer-container{
        background-position-y: 58vh;
    }
    .center-logo img {
        width: calc(100% - 42%);
    }
    #copyright-footer{
        font-size: 13px;
    }

    .useful-link-wrapper h2{
        font-size: 1.2em;
    }
    .useful-link-wrapper ul li a {
        font-size: 15px;
    }
    .contact-group{
        margin: 11px 0px;
    }
    .contact-details-wrapper{
        width: fit-content;
        margin: 10px;
    }
    .contact-details-wrapper h2{
        font-size: 1.2em;
        margin: 12px 0px;
    }
    .contact-details-wrapper p{
        font-size: 15px;
    }
    .contact-details-wrapper img {
        width: 22px;
    }
    /* --------------------------------home section --------------------------------------- */
    .center-container h1{
        --font-size: 22px;
        font-size: var(--font-size);
    }
    .logo{
        width: 59%;
        height: 10%;
        overscroll-behavior-x: none;
    }
    .sedo{
        font-size: 41px;
    }
    .center-container p {
        font-size: 13px;
    }
    .center-container a{
        font-size: 14px;
        margin: 5px;
    }

    .btn-container a,.btn-container details summary {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content;
        padding: 10px 11px;
    }
    /* -------------------------------about us section --------------------------- */
    .about-us-container{
        width: 90vw;
    }
    .about-us-content{
        margin: 20px;
    }
    .mission-content{
        margin: 20px;
    }
    .vision-content{
        margin: 20px;
    }
    .about-us-container h1{
        font-size: 36px;
    }
    .about-us-container p {
        font-size: var(--font-size);
    }
    .about-us-container img{
        width: 50%;
        margin: 20px;
    }
    .about-us-wrapper{
        flex-direction: column-reverse;
    }
    .mission-wrapper{
        flex-direction: column-reverse;
    }
    .vision-wrapper{
        flex-direction: column-reverse;
    }
    /* -------------------------------our services section ----------------------------- */
    .our-services-container h1 {
        font-size: 40px;
    }
    .service-card{
        width: 58%;
    }
    .service-card-mask a{
        font-size: 14px;

    }
    .service-card h2{
        font-size: 25px;
    }
    .service-cards-wrapper{
        flex-direction: column;
    }
    /* -------------------------------------title wrapper---------------------------------- */
    .title-wrapper h1{
        font-size: 40px;
    }
    .title-wrapper p{
        font-size: 14px;
    }

    /* ##########################################about us page################################ */
    .container h1{
        font-size: 30px;
    }
    .container p{
        font-size: 14px;
    }
    .container #old-ship{
        width: 73%;
        margin: auto;
    }
    #about-us-sedo-container{
        flex-direction: column;
    }
    #why-sedo-container{
        flex-direction: column;
    }
    .container #night-ship{
        width: 73%;
        margin: auto;
    }
    #mision-vision-conatainer{
        flex-direction: column;
    }
    /* ########################################### contact-page ############################################### */
    .contact-inputs{
        flex-direction: column;
    }
    #contact-container img {
        margin: 20px;
        position: relative;
        width: 60%;
        top: calc(100vh - 92vh);
    }
    #contact-container h1{
        font-size: 40px;
    }
    .input-container{
        width: 90%;
    }
    .checkbox-container{
        width: 90%;
    }
    .checkbox-inputs{
        flex-direction: column-reverse;
    }
    .checkbox{
        left: 13vw;
    }
    
    .maps iframe{ 
        width: 90%;
    }
    /* ############################################### service pages ######################################################################### */
    .service-title img{
        width: 80px;
        height: 80px;
    }
    .service-title h1{
        font-size: 30px;
    }
    .service-content p{
        font-size: 14px;
    }
    .service-content h3{
        font-size: 18px;
    }
    .service-content li {
        font-size: 14px;
    }
    hr{
        width: 64%;
        left: 16%;
    }
}