{% extends "base.html" %}
{% block head %}
  <meta name="description" content="Our Customs Clearance Services ensure safe, timely and cost saving delivery of customer goods. We’ll get your export cleared, import cleared and Customs Duty paid.">
{% endblock head %}
{% block title %}
  Customs-clearance
{% endblock title %}

{% block content %}
<div class="title-wrapper" id="customs-title-wrapper">
  <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Customs Clearance</h1>
  <p id="service-title-p">Solutions to improve customs clearance, speed, and reliability in international trade.</p>
</div>

<section class="service-wrapper" id="customs-service">
  <div class="service-title">
    <img src="/sedo_main/sedo_app/static/img/customs.jpg" alt="" class="service-logo">
    <h1>Customs Clearance</h1>
  </div>
  <hr>
  <div class="service-content">
    <p>Benefit from our expertise that ensure smooth customs clearance and documentation processes, minimizing delays and simplifying paperwork.
      Our long-standing professional relationships with government agencies and hard earned privileged status delivers a distinct advantage when it comes to negotiating difficult consignments and dealing with the challenges of bureaucratic procedures in the within the governments set-up.
      Need your export cleared, import cleared and duties paid? We got it covered.
      </p>
      <h3>Our Customs Services Include :</h3>
      <ul>
        <li>Import / Export Customs Clearance Service</li>
        <li>Customs Evaluation of merchandise</li>
        <li>Import Duty & Tax Assessment</li>
        <li>Classification of Codes</li>
        <li>Classification of goods</li>
        <li>Customs Surveying</li>
        <li>Import / Export Permissions of controlled goods</li>
        <li>Import / Export Record maintenance</li>
        <li>Payment of Custom Duties on customer's behalf</li>
        <li>Temporary Import / Export procedures</li>
        <li>Permanent Import/Export procedures</li>
        <li>Consultancy Services</li>
        <li>Transit Customs Handling</li>
        <li>Customs Bonded Carriage</li>
      </ul>
      <div class="why-sedo-wrapper">
        <h1>Why Sedo Logistcs Limited?</h1>
        <p>Sedo Logistics Limitedlimited, a leading customs broker, is primed to meet the increasing demands of the global market. With strong relationships with government agencies, Sedo has the edge in negotiating complex consignments and navigating bureaucratic procedures. Their well-trained staff takes full responsibility for timely and accurate documentation, preventing costly delays and storage charges for consignees. Trust Sedo Logistics Limited for seamless customs clearance and efficient supply chain management.</p>
        
      </div>
  </div>

  <div class="contact-message-wrapper">
    <h1 class="contact-message">We Are Looking Forward To Working With You</h1>
    <a href="/contactUs/" class="contact-us-service">Contact Us</a>
  </div>


</section>

 <script>
    window.addEventListener('scroll', function() {
      const navbar = document.getElementById('navbar');
      const scrolled = window.pageYOffset || document.documentElement.scrollTop;
  
      if (scrolled > 0) {
        navbar.classList.add('navbar-scroll');
      } else {
        navbar.classList.remove('navbar-scroll');
      }
    });
        //------------------------------------------------loader-------------------------------
        window.addEventListener("load", function() {
          document.querySelector(".loader").style.display = "none";
        });
        
        document.querySelector(".loader").style.display = "block";
        
  </script>
{% endblock content %}