{% extends "base.html" %}

{% block title %}
  Our Services
{% endblock title %}

{% block content %}
  <div class="service-container">
    <div class="title-wrapper" id="our-service-title-wrapper">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Whats we offer</h1>
      <p></p>
    </div>
    <div class="ourservices-links">
      <li><a href="#air-freight-section">Air freight</a></li>
      <li><a href="#sea-freight-section">Sea freight</a></li>
      <li><a href="#rail-freight-section">Rail freight</a></li>
      <li><a href="#road-freight-section">Road freight</a></li>
      <li><a href="#customs-clearance-section">Customs clearance</a></li>
      <li><a href="#warehouse-management-section">Warehouse management</a></li>
      <li><a href="#project-logistics-section">Project logistics</a></li>
      <li><a href="#cargo-insuarance-section">Cargo insuarance</a></li>
      <li><a href="#removal-relocation-section">Removal & Relocation</a></li>
    </div>
<!-- ---------------------------------------------------------------air freight section----------------------------------------------- -->
    <div class="air-freight-section" id="air-freight-section">
      <img src="/sedo_main/sedo_app/static/img/air freight.jpg" alt="logo" id="plane-logo" data-aos="fade-up" data-aos-delay="15ef00" data-aos-duration="1000" data-aos-easing="ease">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Air Freight</h1>
      <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
      <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Sedo Logistics develops comprehensive airfreight service plans tailored to meet our customers' specific requirements. This is accomplished by learning our customers' exact objectives with regards to their internal and external requirements.Sensitive and valuable goods are often subject to extreme time pressures and deadlines for everyone involved. Therefore, our Airfreight Department develops a customized service plan for each customer, and then implements our required Operational Handling Procedures to ensure a high quality service.
        
        Our team of Air Freight professionals follows through on each and every shipment so that our customers can be assured of real-time status reports on all import and export air freight shipments at all times.
        
        For oversize cargo transportation by air, we provide professional know-how related to the handling of part and full charter service including complete door to door delivery logistics on a global scale.
        </p>
        <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Air Freight Services include:</h3>
        <p data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Complete Logistics Programs (pick, pack, assembly, warehousing, documentation and handling) for:</p>
        <ul >
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Hazardous Cargo</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Live Stock Cargo</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">AOG & Aerospace Cargo</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Fashion & Luxury Goods</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Auto and Automotive part</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Oil & Gas Industry Cargo</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Pharmaceutical Cargo</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Precious Metal </li>
        </ul>
        <p data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Cargo Other Services:</p>
        <ul>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Pick, Pack, Assembly and Distribution</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Split and Full Air Charter</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Worldwide Door to Door Services</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Sea/Air & Road/Air Service</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs Clearance Service</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Pick-up and Delivery Service</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Packing and Crating</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import/Export </li>
        </ul>
        <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Air Frieght</a>
    </div>
 
<!-- ---------------------------------------------------------------sea freight section----------------------------------------------- -->
    <div class="sea-freight-section" id="sea-freight-section">
      <img src="/sedo_main/sedo_app/static/img/sea.jpg" alt="logo" id="sea-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Sea Freight</h1>
      <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
      <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease" >Ocean Freight is one of the key elements in multimodal transportation service. In order to offer the best service possible, we have a dedicated Ocean Freight Department specializing in FCL, LCL, Break-Bulk, Project Cargo and different types of cargoes on a global scale.

        The flexibility and range of Ocean Freight Services offered by Sedo Logistics provides our customer economical alternatives to other, costlier modes of transportation. Our worldwide logistics services cover not only shipments from port-to-port, but also the complete door-to-door supply chain solution.
        
        Over the years, Sedo Logistics has fostered strong business relationship with all major international and regional ocean carriers.
        
      </p>
        <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Sea Freight Services include:</h3>
        <ul>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import and export</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Issuance and verification of shipping documentation</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Export and import customs clearance</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Certified industrial packing and crating</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Packing and crating of household goods</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Warehousing, assembly and distribution logistics</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Letter of credit processing</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Part & full vessel charter</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Conventional shipments (break-bulk, dry & liquid bulk)</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Sea/Air transportation</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Sea/Road and Sea/Rail Intermodal Services</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Transport and Marine Insurance</li>
        </ul>
        <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Sea Frieght</a>
    </div>
    <!-- ---------------------------------------------------------------rail freight section----------------------------------------------- -->
    <div class="rail-freight-section" id="rail-freight-section">
      <img src="/sedo_main/sedo_app/static/img/rail.jpg" alt="logo" id="rail-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Rail Freight</h1>
      <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
      <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease" >Our vast experience and in-depth knowledge of the Africa railway networks and freight payment code system enables us to respond timely and professionally to all kind of complex and unusual railway and intermodal transportation requirements of our customers.

        One of Sedo Logistics specialized activities is full container load “FCL” service. Our unique concept of “Sedo Box” enables our customers to benefit from considerable savings in renting or purchasing equipment for the transportation of their goods to/from any destination through our partners. 
        
        Our railway and intermodal services extend beyond just moving containers and break-bulk cargo from Point A to Point B. Various post landed services such as customs clearance, terminal handling, door delivery and inland distribution are routine matters of our business.
        
        Besides 20ft and 40ft container transportation, Sedo Logistics offers railway transportation of break- bulk, refrigerated, over-sized and heavy cargoes with equal efficiency. 
      </p>
        <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Railway and Intermodal Services include:</h3>
        <ul>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Guaranteed 20ft, 40ft FCL & Break Bulk Services to/from all destinations with rail service. </li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Standard security of the containers with security seals and bar-locks</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Conventional rail transportation using variety of railway covered wagons, semi wagons and platforms suitable for containers, break bulk and oversized cargoes</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Railway terminal handling and door delivery service</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Professional pre and post cargo surveying</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Daily tracing and positioning reporting</li>
        </ul>
        <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Rail Frieght</a>
    </div>
<!-- ---------------------------------------------------------------roadfreight section----------------------------------------------- -->

    <div class="road-freight-section"id="road-freight-section" >
      <img src="/sedo_main/sedo_app/static/img/road.jpg" alt="logo" id="road-logo" id="road-section" data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Road Freight</h1>
      <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
      <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease" >
        Most transport chains include trucking at either the beginning or the end. Sedo provides integrated transportation and logistics service that includes Road Transportation Service connecting all major towns and cities within the region. 
        
        Additionally, Sedo Logistics has a dedicated division to handle transportation of perishable and dangerous goods.
        
        Having dedicated partners with fleet of multipurpose trucks and trailers, Sedo Logistics offers competitive pricing coupled with a reliable and world class quality road transportation and distribution services.        
        </p>
        <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Road Freight Services include:</h3>
        <ul>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Transportation of types of cargo.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs Clearance.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Special Transportation of heavy weight, oversized and project cargoes.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Transportation of dangerous and perishable goods.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Special transportation of household goods and personal effects.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Contract-logistic, procurement and distribution</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Tracing & tracking through the Global Positioning System.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs bonded transportation.</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Various value added services.</li>
        </ul>
        <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Road Frieght</a>
    </div>
<!-- ---------------------------------------------------------------customs-clearance-section----------------------------------------------- -->

    <div class="customs-clearance-section" id="customs-clearance-section" >
      <img src="/sedo_main/sedo_app/static/img/customs.jpg" alt="logo" id="customs-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
      <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Customs Clearance</h1>
      <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
      <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">
        In the global market place, rapidly changing demands on production and delivery schedules have placed increased responsibility on Customs House Brokers to provide expert Customs Clearance Services.

        Sedo Logistics is widely recognized as one of the leading customs brokers in the region. Sedo has long-standing professional relationships with government agencies and this hard earned and privileged status delivers a distinct advantage when it comes to negotiating difficult consignments and dealing with the challenges of bureaucratic procedures in the within the governments set-up.
        
        Regardless of the speed with which a consignment reaches one of the destination points, complex customs procedures and documentation requirements can result in indefinite delays costing heavy storage charges to consignees.
        
        Sedo`s staff are comprehensively trained to understand complex customs procedures of each specific area of operation. Our team will take full and complete responsibility to ensure that the correct documentation is prepared well in advance of all import and export deadlines in order to avoid expensive and time consuming delays.            
        </p>
        <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Customs Services include:</h3>
        <ul>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import / Export Customs Clearance Service</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs Evaluation of merchandise</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import Duty & Tax Assessment</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Classification of Codes</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Classification of goods</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs Surveying</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import / Export Permissions of controlled goods</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Import / Export Record maintenance</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Payment of Custom Duties on customer`s behalf</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Temporary Import / Export procedures</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Permanent Import/Export procedures</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Consultancy Services</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs Bonded Carriage</li>
          <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Transit Customs Handling</li>
        </ul>
        <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Custom  Clearance</a>
    </div>
  <!-- ---------------------------------------------------------------warehouse-management-section----------------------------------------------- -->

  <div class="warehouse-management-section" id="warehouse-management-section">
    <img src="/sedo_main/sedo_app/static/img/warehouse.jpg" alt="logo" id="warehouse-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
    <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Warehouse Management</h1>
    <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
    <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">
      Sedo Logistics is able to arrange secure storage facilities at all key destinations in the region. Our warehousing partners are among the safest places to deposit your goods.

      There are two basic reasons for this: For security, they are equipped with electronic theft and fire alarms backed by round-the-clock security guards. For hygiene, in addition to normal hygiene standards, we can offer our customers certificates guaranteeing constant checks carried out by specialist companies. All goods are properly protected so that they can remain in our warehouse for as long as the customer deems necessary.      
    </p>
      <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Warehousing Services include:</h3>
      <ul>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Short and long term storage</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Cargo loading and unloading</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Cargo labeling and packing</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Fumigation and Pest control</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Packing and Crating services</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Cargo Distribution</li>
      </ul>
      <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Warehouse Management</a>
  </div>
  <!-- ---------------------------------------------------------------project-logistics-section----------------------------------------------- -->

  <div class="project-logistics-section" id="project-logistics-section">
    <img src="/sedo_main/sedo_app/static/img/project.jpg" alt="logo" id="project-logo"data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
    <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Project Logistics</h1>
    <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
    <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">
      Sedo Logistics specializes in project freight management and all associated planning and implementation services, ensuring customer-specific deadlines and special instructions are strictly adhered to. Sedo Logistics specializes in project freight management and planning and implementation services to ensure customer-specific deadlines and special instructions are adhered to.
                  
    </p>
      <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Project Logistics Services include:</h3>
      <ul>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Project logistics feasibility studies</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customer tailored transportation consultancy</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Road studies</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Project logistics budget and planning</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Project flow descriptions</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Cargo supervision during loading and unloading, as well as in transit</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Full/Partial charter by ocean and air</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Consolidation, packing, crating and containerization</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Purchase order management and cargo tracking</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Transport Insurance</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Oversize cargoes transportation</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Heavy loads</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Customs and shipping documentation</li>
      </ul>
      <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Project Logistics</a>
  </div>
  <!-- ---------------------------------------------------------------cargo-insurance-section----------------------------------------------- -->

  <div class="cargo-insurance-section" id="cargo-insuarance-section">
    <img src="/sedo_main/sedo_app/static/img/cargo.jpg" alt="logo" id="cargo-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
    <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Cargo Insurance</h1>
    <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
    <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">
      As the saying goes: "It's better to be safe than sorry".

      We arrange for comprehensive cargo insurance covers both in transit and within the storage facilities. 
      
      Sedo's dedicated Risk Management team offers competitive rates for “All Risk” insurance coverage on a global scale. Sedo Logistics is able to offer advice concerning insurance services for all type of cargoes ranging from household goods, personal effects, live-stock, to commercial goods.      
    </p>
      <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Our Cargo Insurance Service include:</h3>
      <ul>
        
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">“All Risk” cargo and marine insurance</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Auto transportation cover</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Livestock transportation cover</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">High value goods and fine art transport cover</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Household Goods and personal effect transportation cover</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">3rd party liability coverage</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">E&O coverage</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Professional liability coverage</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Professional cargo surveying</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Pre shipment inspection</li>
      </ul>
      <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Cargo Insuarance</a>
  </div>
  <!-- ---------------------------------------------------------------removal-relocation-section----------------------------------------------- -->

  <div class="removal-relocation-section" id="removal-relocation-section">
    <img src="/sedo_main/sedo_app/static/img/hosue.jpg" alt="logo" id="house-logo" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
    <h1 data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">Removal and Relocation</h1>
    <hr data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">
    <p data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">
      Sedo Logistics is truly an international single source for worldwide moving services. Whether it’s household goods, your family pet, your professional equipment or your car, we have global resources and expertise to plan and co-ordinate all aspects of your moving requirements.

      You will receive professional, courteous, and trouble-free service throughout the process. From start to finish, a highly-skilled and dedicated Sedo Removal Supervisor and Move Manager will carefully manage and coordinate the removal of household goods, vehicles, and pets.
      
      Sedo's worldwide network ensures total security and peace of mind all times.           
    </p>
      <h3 data-aos="fade"  data-aos-duration="1500" data-aos-easing="ease">Move Management Services:</h3>
      <ul>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Pre-move survey and assessment</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Packing and crating of household goods</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Special handling of art work and antiques</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Assembly & disassembly of complex furniture</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Handling & crating of heavy items</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Handyman & 3rd party services</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Worldwide door-to-door service</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Worldwide pet relocation service</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Worldwide transit insurance</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Worldwide auto transportation</li>
        <li data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Office moving and relocation</li>
      </ul>
      <a href="/contactUs/" class="serviceLink" data-aos="fade" data-aos-duration="1000" data-aos-easing="ease">Removal and Relocation</a>
  </div>
</div>
<script>
  window.addEventListener('scroll', function() {
    const navbar = document.getElementById('navbar');
    const scrolled = window.pageYOffset || document.documentElement.scrollTop;

    if (scrolled > 0) {
      navbar.classList.add('navbar-scroll');
    } else {
      navbar.classList.remove('navbar-scroll');
    }
  });
</script>
{% endblock content %}